<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Hoofdstuk7/src/Hoofdstuk7_1/show7_1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Hoofdstuk7_1.show7_1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hoofdstuk7"/>
</launchConfiguration>
